@import "reset.css";
body {
  animation:fadein 2s;
  background:gray;
  font-family:sans-serif;
  width:100%;
}
.small {
  width:150px;
}
.search {
  box-shadow:black 1px 1px 8px 1px;
  font-size:15pt;
  height:2em;
  margin-bottom:2em;
  width:40%;
}
.container {
  clear:both;
  left:0;
  position:fixed;
  text-align:center;
  top:20%;
  width:100%;
}
header {
  text-align:center;
  width:100%;
}
h1 {
  background:#3AA471;
  border-radius:10pt;
  color:whitesmoke;
  margin-left:auto;
  margin-right:auto;
  margin-top:3em;
  padding:0.5em;
  text-align:center;
  width:20%;
}
#livesearch {
  margin:auto;
  padding:2em;
  width:60%;
}
#livesearch button {
  background:white;
  margin-bottom:0.5em;
  margin-right:0.2em;
  padding:0.5em;
  width:100%;
}
#livesearch button:nth-child(2n+1) {
  background:lightgray;
}

